{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %} | Ybook</title>
        <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'alpine.js' %}"></script>
        <script src="{% static 'tailwind.js' %}"></script>
        <style type="text/tailwindcss">      
            @theme {

            }    
        </style>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const menuLinks = document.querySelectorAll(".menu-link");

                menuLinks.forEach((a) => {
                    console.log(a.getAttribute("href"));
                    const a_path = a.getAttribute("href");
                    const page_path = window.location.pathname;

                    if (a_path === page_path) {
                        a.classList.add("bg-gray-800");
                    }
                });
            });
        </script>
    </head>

    <body class="min-h-screen bg-gradient-to-tl from-gray-800 to-indigo-900 flex flex-col">
        {% block navbar %}
            <nav class="bg-gray-900 text-white border-b border-gray-200 shadow-sm" x-data="{ open: false }">
                <div class="container mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="flex justify-between items-center h-16">
                        {# Logo #}
                        <a href="{% url 'index_view' %}" class="flex items-center">
                            <img src="{% static 'logo.png' %}" alt="Logo de Ybook" class="h-10 m-2 border border-white rounded-md" />
                            <span>YBook</span>
                        </a>

                        {# Search Bar #}
                        <form action="{% url 'book_list' %}" method="GET" class="hidden md:flex items-center">
                            <input type="text" name="q" placeholder="Rechercher..." class="px-4 py-2 rounded-md text-black focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-800 text-white" value="{% if query %}{{ query }}{% endif %}" />
                            <button type="submit" class="ml-2 px-3 py-2 rounded-md bg-gradient-to-tl from-gray-800 to-purple-700 border border-white">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>

                        {# Links (hidden on mobile) #}
                        <div class="hidden md:flex items-center space-x-4">
                            <a href="{% url 'index_view' %}" class="menu-link block px-4 py-2 text-sm hover:bg-gray-800 rounded-md space-x-2">
                                <i class="fa-solid fa-house"></i>
                                <span>Accueil</span>
                            </a>
                            <a href="{% url 'book_list' %}" class="menu-link block px-4 py-2 text-sm hover:bg-gray-800 rounded-md space-x-2">
                                <i class="fa-solid fa-book"></i>
                                <span>Livres<span>
                            </a>
                        </div>

                    {# Mobile menu button #}
                    <div class="md:hidden">
                        <button @click="open = !open" class="rounded-md focus:outline-none">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                    </div>
                </div>

                {# Mobile menu #}
                <div x-show="open" x-transition class="md:hidden bg-gray-900">
                    <div class="space-y-1 px-2 pt-2 pb-3">
                        <a href="{% url 'index_view' %}" class="menu-link block px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-800">Accueil</a>
                        <a href="{% url 'book_list' %}" class="menu-link block px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-800">Livres</a>
                        <hr class="mt-2 mb-2" />
                        {# Search Bar #}
                        <div class="flex items-center justify-center">
                            <form action="{% url 'book_list' %}" method="GET" class="items-center" class="m-2">
                                <input type="text" name="q" placeholder="Rechercher..." class="px-4 py-2 rounded-md text-black focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-800 text-white" value="{% if query %}{{ query }}{% endif %}" />
                                <button type="submit" class="ml-2 px-3 py-2 rounded-md bg-gradient-to-tl from-gray-800 to-purple-700 border border-white">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock navbar %}

        <main class="flex-1">
            {% block content %}{% endblock content %}
        </main>

        {% block footer %}
            <footer class="bg-gray-900 text-white mt-4 border-t border-white">
                <div class="mx-auto">
                    <div class="flex items-center justify-between">
                        <img class="h-32 md:h-auto" src="{% static 'book_left.png' %}" />
                        <div class="w-full flex justify-between">
                            <div class="flex flex-col items-center justify-center">
                                <img class="h-6 md:h-10 md:h-auto" src="{% static 'logo2.png' %}" class="mx-auto" />
                                <p class="text-sm hidden md:block">Un outil pour les lillois, par des lillois.</p>
                            </div>
                            <div class="space-y-6 items-center">
                                <a href="{% url 'index_view' %}" class="menu-link block px-4 py-2 text-sm hover:bg-gray-800 rounded-md space-x-2 md:text-xl">Accueil</a>
                                <a href="{% url 'book_list' %}" class="menu-link block px-4 py-2 text-sm hover:bg-gray-800 rounded-md space-x-2 md:text-xl">Livres</a>
                            </div>
                        </div>
                        <img class="h-32 md:h-auto" src="{% static 'book_right.png' %}" />
                    </div>
                </div>
            </footer>
        {% endblock footer %}
    </body>
</html>